p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.comentario {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #F0E7E7;
  position:relative;
  background-position: 6px 15px
}

.comentario:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 30px;
 }

.mathblock {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #E7E7F0 5px center/2.5em no-repeat;
}

.mathblock {
  background-image: url("../images/eye.png");
  background-position: 10px 15px;
}


.resumen {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffe4e1;
  position:relative;
}

.ejercicio {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #F0E7E7 5px center/3.5em no-repeat;
}
.ejercicio {
  background-image: url("../images/manicule.png");
  background-position: 6px 15px;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

.level1 h1 {
  border-bottom: 1px solid;
}

.level2 h2 {
  border-bottom: 1px solid;
}

body {
  text-align: justify;
}

.cols {
  display: flex;
}

.caja {
    background-color:#fff6f5;
    padding:5px;
    margin: 20px 0;
    border-radius: 3px;
}
